# LLMS
OPENAI_API_KEY=""
ELEVAN_LABS_API_KEY=''

# Supabase
DATABASE_URL=""
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
SB_TRANSCRIPT_BUCKET_NAME=''
SB_CLIPS_MOMENTS_NAME=''
NEXT_PUBLIC_SB_CLIPS_MOMENTS_NAME=''

# AWS
TRANSCRIPT_QUEUE=""
LLM_ANALYSIS=''
VIDEO_TRIMMING=''
AWS_REGION=''
AWS_ACCESS_KEY_ID=''
AWS_SECRET_ACCESS_KEY=''

# CloudFlare
R2_STORAGE_API=''
R2_ACCOUNT_ID=''
R2_BUCKET_NAME=''
R2_ACCESS_ID=''
R2_SECRET_ACCESS_ID=''